* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bolder; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #050505e6;
  flex-wrap: wrap; }
  .header a {
    color: #ffffffed;
    text-decoration: none;
    padding-inline: 10px; }
    .header a:hover {
      color: #ec3238bb; }

.list {
  display: flex;
  padding: 10px;
  font-size: x-large; }
  .list li {
    margin: 0 15px;
    color: white;
    display: inline-block; }
    .list li .active {
      color: #ec3238bb; }

#menu,
#menu-check {
  display: none; }

.footer {
  padding-top: 25px;
  background-color: #050505e6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: #ec3237; }

.footerList {
  display: flex;
  list-style: none; }
  .footerList a {
    padding-inline: 15px; }

.fa-linkedin {
  color: #ec3237;
  font-size: 2rem; }

.fa-github {
  color: #ec3237;
  font-size: 2rem; }

.cafecito {
  padding: 10px; }

@media (min-width: 901px) {
  .header {
    flex-direction: column; }
    .header img {
      width: fit-content; } }

@media (max-width: 900px) {
  #menu-check:not(:checked) ~ nav {
    display: none; }
  #menu-check:checked ~ nav {
    display: block; }
  #menu {
    display: block;
    color: #ec3237;
    background-color: #050505e6;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 8.5em;
    z-index: 9999; }
    #menu:hover {
      color: #050505e6;
      background: #ec3237; }
  #menu-cerrar {
    display: none; }
  #menu-check:checked ~ label #menu-abrir {
    display: none; }
  #menu-check:checked ~ label #menu-cerrar {
    display: block; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    background-color: #ec3237;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em; }
  .header {
    justify-content: space-around; }
    .header a {
      color: #050505e6; }
      .header a:hover {
        color: white; }
  .list {
    display: block;
    text-align: right; }
    .list li {
      display: block;
      text-align: right; }
      .list li .active {
        color: white; } }

/* Index */
.mainIndex {
  background-image: url("../assets/fondos/backgroundInicio.jpg");
  background-size: contain; }
  .mainIndex h1 {
    -webkit-text-stroke: 2px black;
    color: #ec3237a3; }
  .mainIndex p {
    color: #fff7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600; }

.sectionIndex {
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding-top: 20px;
  display: flex;
  background-color: #5c4a4a9c; }

@media (min-width: 1000px) {
  .mainIndex {
    background-size: cover; }
    .mainIndex p {
      text-align: left;
      padding-left: 120px;
      padding-right: 120px; } }

@media (max-width: 500px) {
  .mainIndex p {
    padding-left: 114px; } }

.mainVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black; }
  .mainVideos h1 {
    color: #ec3237; }

.positionVideos {
  text-align: center; }

.video {
  padding: 20px; }

@media (max-width: 843px) {
  .video {
    width: 248px; } }

@media (max-width: 500px) {
  .positionVideos {
    text-align: center; }
  .video {
    width: 313px;
    height: 220px; } }

.mainTour {
  background: linear-gradient(308deg, #ec3237d1, white); }

.fechaTour {
  display: flex;
  flex-direction: row;
  padding: 25px;
  text-align: center;
  justify-content: space-between;
  align-items: center; }

.btn-tickets {
  background: #9e181d8a;
  border-radius: unset;
  font-size: larger;
  color: white;
  border: 1px solid white;
  box-shadow: 5px 5px 8px #000000, -5px -5px 8px #000000;
  padding: 0.35rem 0.75rem;
  text-decoration: none; }

.mt-2 {
  margin-top: 0.5rem !important; }

.lugar {
  display: flex;
  flex-direction: column; }
  .lugar p {
    font-size: large; }

.titulos {
  font-size: x-large;
  font-weight: 900; }

@media (max-width: 800px) {
  .fechaTour {
    flex-direction: column; }
  .lugar {
    padding-bottom: 20px; } }

.mainMusica {
  background-image: url("../assets/fondos/backgroundMusica.jpg"); }
  .mainMusica h1 {
    color: white; }
  .mainMusica h5 {
    font-size: small; }

.row {
  max-width: 100%;
  margin-left: 0; }

.cardMusica {
  color: white;
  background-image: url("../assets/fondos/backgroundMusica.jpg");
  background-position: inherit;
  border: none;
  align-items: center;
  position: initial; }

.card-body {
  text-align: center; }

.btn-primary {
  color: #050505e6;
  background-color: #ec3238bb;
  border-color: #050505e6; }
  .btn-primary:hover {
    color: #ec3238bb;
    background-color: #050505e6;
    border-color: #ec3238bb; }

@media (min-width: 1031px) {
  .mainMusica h5 {
    font-size: medium; } }

@media (max-width: 576px) {
  .mainMusica h5 {
    font-size: x-large; }
  .cardMusica {
    width: 100% !important; } }

.mainTienda {
  background-image: url("../assets/fondos/backgroundTienda.jfif");
  background-repeat: round; }

.barra {
  display: flex;
  justify-content: center; }

#inputSearch {
  width: 50vw;
  text-align: center; }

.ver-carrito {
  position: fixed;
  font-size: 25px;
  right: 15px;
  background-color: red;
  border-radius: 50px;
  cursor: pointer; }

/*product cards*/
.shop-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.card {
  display: flex;
  width: 25%;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px; }
  .card p {
    text-align: center; }
  .card img {
    border-radius: 50px; }
  .card h3 {
    text-align: center; }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }
    .card button:hover {
      opacity: 0.7; }

/*modal content*/
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none; }

.modal-container::-webkit-scrollbar {
  display: none; }

.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%; }

.modal-header-title {
  justify-self: start; }

.modal-header-button {
  cursor: pointer; }

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px; }

.modal-container > div > img {
  height: 120px;
  width: 120px; }

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px; }

/*se agregaron unas lineas de css con media querys para que se adapte mejor al responsive :)*/
/*delete button product*/
@media (max-width: 900px) {
  .card {
    width: 50%; } }

@media (max-width: 500px) {
  .card {
    width: 100%; } }
