* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bolder; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #050505e6;
  flex-wrap: wrap; }
  .header a {
    color: #ffffffed;
    text-decoration: none;
    padding-inline: 10px; }
    .header a:hover {
      color: #ec3238bb; }

.list {
  display: flex;
  padding: 10px;
  font-size: x-large; }
  .list li {
    margin: 0 15px;
    color: white;
    display: inline-block; }
    .list li .active {
      color: #ec3238bb; }

#menu,
#menu-check {
  display: none; }

.side {
  display: flex; }

.app {
  position: fixed;
  display: none;
  min-height: 100vh; }

.sidebar {
  flex: 1 1 0;
  max-width: 250px;
  padding: 2rem 1rem;
  background-color: #ec3238bb; }
  .sidebar h3 {
    -webkit-text-stroke: 1px #ffffff61;
    color: #050505e6;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 0.5em; }
  .sidebar .menu {
    margin: 0 -1rem; }
    .sidebar .menu .menu-item {
      display: block;
      padding: 1em;
      color: white;
      text-decoration: none;
      transition: 0.2s linear; }
      .sidebar .menu .menu-item:hover {
        color: #050505e6;
        border-right: 5px solid black; }
    .sidebar .menu .is-active {
      color: #050505e6;
      border-right: 5px solid white; }

.footer {
  padding-top: 25px;
  background-color: #050505e6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: #ec3237; }

.footerList {
  display: flex;
  list-style: none; }
  .footerList a {
    padding-inline: 15px; }

.fa-linkedin {
  color: #ec3237;
  font-size: 2rem; }

.fa-github {
  color: #ec3237;
  font-size: 2rem; }

.cafecito {
  padding: 10px; }

@media (min-width: 901px) {
  .header {
    flex-direction: column; }
    .header img {
      width: fit-content; } }

@media (max-width: 900px) {
  #menu-check:not(:checked) ~ nav {
    display: none; }
  #menu-check:checked ~ nav {
    display: block; }
  #menu {
    display: block;
    color: #ec3237;
    background-color: #050505e6;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 8.5em;
    z-index: 9999; }
    #menu:hover {
      color: #050505e6;
      background: #ec3237; }
  #menu-cerrar {
    display: none; }
  #menu-check:checked ~ label #menu-abrir {
    display: none; }
  #menu-check:checked ~ label #menu-cerrar {
    display: block; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    background-color: #ec3237;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em; }
  .header {
    justify-content: space-around; }
    .header a {
      color: #050505e6; }
      .header a:hover {
        color: white; }
  .list {
    display: block;
    text-align: right; }
    .list li {
      display: block;
      text-align: right; }
      .list li .active {
        color: white; } }

@media (max-width: 500px) {
  .header img {
    width: 100vw; }
  .header nav {
    display: none; }
  .app {
    display: flex; }
  #menu {
    display: none; }
  #menu-check:checked ~ nav {
    display: none; } }

/* Index */
.mainIndex {
  background-image: url("../assets/fondos/backgroundInicio.jpg");
  background-size: contain; }
  .mainIndex h1 {
    -webkit-text-stroke: 2px black;
    color: #ec3237a3; }
  .mainIndex p {
    color: #fff7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600; }

.sectionIndex {
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding-top: 20px;
  display: flex;
  background-color: #5c4a4a9c; }

@media (min-width: 1000px) {
  .mainIndex {
    background-size: cover; }
    .mainIndex p {
      text-align: left;
      padding-left: 120px;
      padding-right: 120px; } }

@media (max-width: 500px) {
  .mainIndex p {
    padding-left: 114px; } }

.mainVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black; }
  .mainVideos h1 {
    color: #ec3237; }

.positionVideos {
  text-align: center; }

.video {
  padding: 20px; }

@media (max-width: 843px) {
  .video {
    width: 248px; } }

@media (max-width: 500px) {
  .positionVideos {
    text-align: end; }
  .video {
    width: 313px;
    height: 220px; } }

.mainTour {
  background: linear-gradient(308deg, #ec3237d1, white); }

.fechaTour {
  display: flex;
  flex-direction: row;
  padding: 25px;
  text-align: center;
  justify-content: space-between;
  align-items: center; }

.btn-tickets {
  background: #9e181d8a;
  border-radius: unset;
  font-size: larger;
  color: white;
  border: 1px solid white;
  box-shadow: 5px 5px 8px #000000, -5px -5px 8px #000000;
  padding: 0.35rem 0.75rem;
  text-decoration: none; }

.mt-2 {
  margin-top: 0.5rem !important; }

.lugar {
  display: flex;
  flex-direction: column; }
  .lugar p {
    font-size: large; }

.titulos {
  font-size: x-large;
  font-weight: 900; }

@media (max-width: 800px) {
  .fechaTour {
    flex-direction: column; }
  .lugar {
    padding-bottom: 20px; } }

.mainMusica {
  background-image: linear-gradient(108deg, #050505e6, #ec3238bb); }
  .mainMusica h1 {
    color: white; }

.row {
  max-width: 100%;
  margin-left: 0; }

.card {
  color: white;
  background-image: url("../assets/fondos/backgroundMusica.jpg");
  background-position: inherit;
  border: none;
  align-items: center;
  position: initial; }

.card-body {
  text-align: center; }

.btn-primary {
  color: #050505e6;
  background-color: #ec3238bb;
  border-color: #050505e6; }
  .btn-primary:hover {
    color: #ec3238bb;
    background-color: #050505e6;
    border-color: #ec3238bb; }
