* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  display: flex; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #050505e6;
  flex-wrap: wrap; }
  .header a {
    color: #ffffffed;
    text-decoration: none;
    padding-inline: 10px; }

.list {
  display: flex;
  padding: 10px;
  font-size: x-large; }
  .list li {
    margin: 0 15px;
    color: white;
    display: inline-block; }

#menu,
#menu-check {
  display: none; }

.side {
  display: flex; }

.app {
  position: fixed;
  display: none;
  min-height: 100vh; }

.sidebar {
  flex: 1 1 0;
  max-width: 250px;
  padding: 2rem 1rem;
  background-color: #ec3238bb; }
  .sidebar h3 {
    -webkit-text-stroke: 1px #ffffff61;
    color: #050505e6;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 0.5em; }
  .sidebar .menu {
    margin: 0 -1rem; }
    .sidebar .menu .menu-item {
      display: block;
      padding: 1em;
      color: white;
      text-decoration: none;
      transition: 0.2s linear; }
      .sidebar .menu .menu-item:hover {
        color: #050505e6;
        border-right: 5px solid black; }
    .sidebar .menu .is-active {
      color: #050505e6;
      border-right: 5px solid white; }

.footer {
  background-color: #050505e6;
  display: flex;
  height: 20vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: #ec3237; }

.footerList {
  display: flex;
  list-style: none; }
  .footerList a {
    padding-inline: 15px; }

.fa-linkedin {
  color: #ec3237;
  font-size: 2rem; }

.fa-github {
  color: #ec3237;
  font-size: 2rem; }

.cafecito {
  padding: 10px; }

@media (max-width: 800px) {
  #menu-check:not(:checked) ~ nav {
    display: none; }
  #menu-check:checked ~ nav {
    display: block; }
  #menu {
    display: block;
    color: #ec3237;
    background-color: #050505e6;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 8.5em;
    z-index: 9999; }
    #menu:hover {
      color: #050505e6;
      background: #ec3237; }
  #menu-cerrar {
    display: none; }
  #menu-check:checked ~ label #menu-abrir {
    display: none; }
  #menu-check:checked ~ label #menu-cerrar {
    display: block; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    background-color: #ec3237;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em; }
  .header {
    justify-content: space-around; }
    .header a {
      color: #050505e6; }
  .list {
    display: block;
    text-align: right; }
    .list li {
      display: block;
      text-align: right; } }

@media (max-width: 400px) {
  .header img {
    width: 100vw; }
  #menu {
    display: none; }
  .header nav {
    display: none; }
  .app {
    display: flex; } }

/* Index */
.mainIndex {
  background-image: url("../assets/fondo.jpg");
  background-size: contain; }
  .mainIndex h1 {
    -webkit-text-stroke: 2px black;
    color: #ec3237a3; }
  .mainIndex p {
    color: #fff7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600; }

.sectionIndex {
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding-top: 20px;
  display: flex;
  background-color: #1b191969; }

@media (min-width: 1000px) {
  .mainIndex {
    background-size: cover;
    min-height: 114vh; }
    .mainIndex p {
      text-align: left;
      padding-left: 120px;
      padding-right: 120px; }
  .sectionIndex {
    min-height: 114vh; } }

@media (max-width: 500px) {
  .mainIndex p {
    padding-left: 114px; } }
