//General Rules
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
}
//Header
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #050505e6;
  flex-wrap: wrap;
  a {
    color: #ffffffed;
    text-decoration: none;
    padding-inline: 10px;
    &:hover {
      color: #ec3238bb;
    }
  }
}
.list {
  display: flex;
  padding: 10px;
  font-size: x-large;
  li {
    margin: 0 15px;
    color: white;
    display: inline-block;
    .active {
      color: #ec3238bb;
    }
  }
}

//Menu Hamburguesa
#menu,
#menu-check {
  display: none;
}
//Sidebar
.side {
  display: flex;
}
.app {
  position: fixed;
  display: none;
  min-height: 100vh;
}
.sidebar {
  flex: 1 1 0;
  max-width: 250px;
  padding: 2rem 1rem;
  background-color: #ec3238bb;
  h3 {
    -webkit-text-stroke: 1px #ffffff61;
    color: #050505e6;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .menu {
    margin: 0 -1rem;
    .menu-item {
      display: block;
      padding: 1em;
      color: white;
      text-decoration: none;
      transition: 0.2s linear;
      &:hover {
        color: #050505e6;
        border-right: 5px solid black;
      }
    }
    .is-active {
      color: #050505e6;
      border-right: 5px solid white;
    }
  }
}
//Footer
.footer {
  padding-top: 25px;
  background-color: #050505e6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  p {
    color: #ec3237;
  }
}
.footerList {
  display: flex;
  list-style: none;
  a {
    padding-inline: 15px;
  }
}
.fa-linkedin {
  color: #ec3237;
  font-size: 2rem;
}
.fa-github {
  color: #ec3237;
  font-size: 2rem;
}
.cafecito {
  padding: 10px;
}
@media (min-width: 901px) {
  .header {
    flex-direction: column;
    img {
      width: fit-content;
    }
  }
}
@media (max-width: 900px) {
  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: block;
  }
  #menu {
    display: block;
    color: #ec3237;
    background-color: #050505e6;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 0.3em;
    position: absolute;
    right: 0.5em;
    top: 8.5em;
    z-index: 9999;
    &:hover {
      color: #050505e6;
      background: #ec3237;
    }
  }
  #menu-cerrar {
    display: none;
  }
  #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    background-color: #ec3237;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.4em;
  }
  .header {
    justify-content: space-around;
    a {
      color: #050505e6;
      &:hover {
        color: white;
      }
    }
  }
  .list {
    display: block;
    text-align: right;
    li {
      display: block;
      text-align: right;
      .active {
        color: white;
      }
    }
  }
}
@media (max-width: 500px) {
  .header img {
    width: 100vw;
  }

  .header nav {
    display: none;
  }
  .app {
    display: flex;
  }
  #menu {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: none;
  }
}

@import "./components/index";
@import "./components/videos";
@import "./components/tour";
@import "./components/musica";