//Musica
.mainMusica {
  background-image: url("../assets/fondos/backgroundMusica.jpg");
  h1 {
    color: white;
  }
  h5 {
    font-size: small;
  }
}
.row {
  max-width: 100%;
  margin-left: 0;
}
.card {
  color: white;
  background-image: url("../assets/fondos/backgroundMusica.jpg");
  background-position: inherit;
  border: none;
  align-items: center;
  position: initial;
}
.card-body {
  text-align: center;
}
.btn-primary {
  color: #050505e6;
  background-color: #ec3238bb;
  border-color: #050505e6;
  &:hover {
    color: #ec3238bb;
    background-color: #050505e6;
    border-color: #ec3238bb;
  }
}

@media (min-width: 1031px) {
  .mainMusica h5 {
    font-size: medium;
  }
}

@media (max-width: 576px) {
  .mainMusica h5 {
    font-size: x-large;
  }
  .card {
    width: 100% !important;
  }
}
