//Musica
.row {
    max-width: 100%;
    margin-left: 0;
    // justify-content: end !important;
}
.card {
    border: none;
    align-items: center;
    position: initial;
    // width: 70%;
}
.card-body {
    text-align: center;
}
