//Videos
.mainVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  h1 {
    color: #ec3237;
  }
}
.positionVideos {
  text-align: center;
}
.video {
  padding: 20px;
}
@media (max-width: 843px) {
  .video {
    width: 248px;
  }
}
@media (max-width: 500px) {
  .positionVideos {
    text-align: end;
  }
  .video {
    width: 313px;
    height: 220px;
  }
}
